class {{ model.name }}(Model):
    """{{ model.description }}

    Attributes:
    {% for field in model.fields %}
        {{ field.name }} ({{ field.annotation_type }}): {{ field.description}}
    {% endfor %}
    """

    _gql_type: str = "{{ model.gql_name }}"

    {% for field in model.fields %}
    {{ field.name }}: {{ field.annotation_type }} = {{ field.default_value }}
    {% endfor %}
