.iframe-container {
  height: 90vh;
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
}

.iframe-container {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
  user-select: none;
  user-select: none;
  user-select: none;
  user-select: none;
}

.iframe-container:focus {
  outline: none !important;
}

.neuroglancer-iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}
