.main-container {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  border-bottom: 1px solid #333;
  box-sizing: border-box;
  flex-shrink: 0;
}

.portal-title {
  margin: 0;
  color: #fff;
  font-size: 0.875rem;
}

.iframe-container {
  height: '90vh';
  width: '100%';
  flex-grow: 1;
  overflow: 'hidden';
}

.neuroglancer-iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

.cryoet-doc-button {
  min-height: 2.875rem;
  background-color: transparent;
  padding-left: 1rem;
  padding-right: 1rem;
  border: none;
  font-size: 0.875rem;
  font-weight: 600;
  color: #fff;
}

.cryoet-doc-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button-group {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-right: 1rem;
}

.toggle-button {
  border-radius: 100px;
  background: #0b68f8;
  padding: 6px 12px;
  border: none;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
}

.toggle-button:hover {
  background-color: #0033cc;
  cursor: pointer;
}
