/* stylelint-disable selector-class-pattern */

.boolean {
  :global(.MuiFormControlLabel-root) {
    @apply !m-0 !items-center;
  }

  :global(.MuiTypography-root) span span {
    @apply !text-sds-body-s-400-wide !leading-sds-body-s font-semibold;
    @apply !text-light-sds-color-primitive-gray-600;
  }

  &:hover {
    :global(.MuiTypography-root) span span {
      @apply !text-black;
    }
  }

  svg {
    @apply fill-white;
  }
}

.booleanWrapped {
  :global(.MuiFormControlLabel-root) {
    @apply !items-start;
  }

  :global(.MuiTypography-root) {
    @apply !-mt-sds-xxs;
  }
}

.select {
  :global(.MuiButtonBase-root) {
    @apply w-max;

    /* Adjust padding to match our UI designs */
    padding: 5px theme('padding.sds-s');

    ~ div {
      @apply pl-sds-s;
      @apply mt-0;

      &:empty {
        @apply hidden;
      }
    }
  }

  :global(#meets-all) {
    @apply text-sds-body-xs-400-wide leading-sds-body-xs text-light-sds-color-semantic-base-text-secondary;

    letter-spacing: 0.3px;
  }
}

.popper {
  /* stylelint-disable-next-line no-descending-specificity */
  :global(.MuiPaper-root) {
    @apply p-4;

    /* stylelint-disable-next-line scss/selector-no-redundant-nesting-selector, no-descending-specificity */
    & > div > div {
      @apply m-0 p-0;
    }
  }

  :global(.MuiAutocomplete-listbox) {
    @apply !p-0;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  :global(.MuiMenuItem-root) > span:nth-child(1) {
    @apply flex items-center p-0;
  }

  :global(.MuiButtonBase-root) {
    @apply !px-sds-s !py-sds-xs;
  }
}

.inputText {
  :global(.MuiTextField-root) {
    @apply mb-sds-xs;
  }
}
